data/
env/
.vscode/
hybrid-DNN/rule-based/periods.npy
hybrid-DNN/rule-based/whitelist.txt
hybrid-DNN/rules
hybrid-DNN/pre-process
hybrid-DNN/__pycache__
hybrid-DNN/model
hybrid-DNN/evaluation
CNN/__pycache__
CNN/model